label {
  font-size: 18px;
}

.project-wrapper {
  flex-direction: column;
  margin: 25px auto 0 auto;
  width: 40%;
}

.project-wrapper > h3 {
  background-color: #424A60;
  color: snow;
  font-size: 28px;
  height: 50px;
  line-height: 45px;
  padding: 2px 0 0 5px;
  vertical-align: center;
}

.project-name-input {
  text-align: left;
  height: 50px;
  margin: 0px 0px 25px 0px;
  padding: 0px 0px 0px 5px;
}

.project-name-input::placeholder {
  color: black;
}

.Project {
  align-content: flex-start;
  background-color: #E8E8E8;
  display: flex;
  flex-direction: row;
  height: max-content;
  margin: 25px auto;
  min-height: 150px;
  width: 90%;
}

.Project > input {
  width: 50px;
  height: 50px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 35px 0px 0px 0px;
}

.cross {
  height: 50px;
  padding: 60px 0 0 0;
  width: 100px;
}

#trash,
#update {
  display: inline-block;
  height: 30px;
  width: 100px;
}