.project-wrapper {
  flex-direction: column;
  margin: 25px auto 0 auto;
  width: 40%;
}

.project-wrapper > h3 {
  border: 1px solid black;
  height: 50px;
  background-color: #7383C0;
}

.project-name-input {
  text-align: left;
  border: 1.75px solid black;
  height: 50px;
  width: 99%;
  margin: 0px 0px 25px 0px;
  padding: 0px 0px 0px 5px;
}

.project-name-input::placeholder {
  color: black;
}

.Project {
  align-content: flex-start;
  background-color: #E8E8E8;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: max-content;
  margin: 25px auto;
  min-height: 150px;
  width: 90%;
}

.Project > input {
  width: 50px;
  height: 50px;
  /* margin: 0px 5px 0px 5px; */
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 65px 0px 0px 0px;

}