label {
  font-size: 18px;
}

.project-wrapper {
  flex-direction: column;
  margin: 35px auto 0 auto;
  width: 40%;
}

.project-wrapper > h3 {
  font-family: 'Source Code Pro', monospace;
  background-color: #424A60;
  color: snow;
  font-size: 28px;
  height: 50px;
  line-height: 45px;
  margin: 0;
  padding: 0 0 0 10px;
}

.project-name-input {
  box-shadow: 3px 3px 7px #A9A9A9;
  font-size: 21px;
  height: 50px;
  margin: 0px 0px 25px 0px;
  padding: 0px 0px 0px 5px;
  text-align: left;
  width: 98%;
}

.project-name-input::placeholder {
  color: black;
}

.Project {
  align-content: flex-start;
  background-color: rgba(240,240,240, 0.7);
  box-shadow: 1px 1px 4px #D3D3D3;
  display: flex;
  flex-direction: row;
  height: max-content;
  margin: 25px auto;
  min-height: 150px;
  width: 90%;
}

.Project > input {
  width: 50px;
  height: 50px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 35px 0px 0px 0px;
}

.one-to-many {
  height: 80px;
  padding: 60px 0 0 0;
  width: 100px;
}

#trash,
#update {
  display: inline-block;
  height: 30px;
  width: 100px;
}

label:hover,
#trash:hover,
#update:hover {
  border: none;
  cursor: pointer;
  text-decoration: underline #424A60;
}