h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 68px;
  display: inline;
  background-color: #424A60;
  color: #C8CAC8;
  margin: 0px 0px 25px 0px;

}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: ghostwhite;
}

.top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.controls-background {
  background-color: #E8E8E8;
}