h1 {
  background-color: #424A60;
  display: inline;
  color: #C8CAC8;
  font-family: 'Source Code Pro', monospace;
  font-size: 66px;
  line-height: 88px;
  margin: 0px 0px 25px 0px;

}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: ghostwhite;
}

.top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 70px;
}

.controls-background {
  background-color: rgba(240,240,240, 0.7);
  box-shadow: 1px 1px 4px #D3D3D3;
}