button,
input, 
h2,
h3 {
  color: #424A60;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
}

button:hover {
  background-color: #7383C0;
  border: 1px solid #424A60;
  color: ghostwhite;
  cursor: pointer;
}

input:hover {
  border: 1px solid #424A60;
}

button {
  height: 50px;
  width: 260px;
}

input {
  display: inline-block;
  height: 48px;
  width: 255px;
  z-index: 1;
}

input::placeholder {
    padding-left: 2px;
}

h2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 21px;
  margin: 10px 0 10px 20px;
  text-align: left;
}

h3 {
  font-family: 'Source Code Pro', monospace;
  font-size: 21px;
  grid-area: h;
  margin: 10px 0 5px 0px;
  text-align: left;
}

.Controls {
  display: grid;
  grid-template:
    "a . ." 1fr
    "b . ." 1fr
    "c d e" 1fr
    ". . f" .5fr
    ". . g" 1fr 
    "h . ." 1fr
    "i j k" 1fr/ 2fr .25fr 2fr;
  height: 250px;
  padding: 0 3%;
}

.random-hex-button {
  display: block;
  grid-area: a;
}

.project-name-input {
  background-image: ;
  grid-area: c;
  text-align: left;
  height: 47px;
  margin: 0 !important;
  padding: 0px 0px 0px 5px;
}

.line1 {
  grid-area: b;
  height: 35px;
  width: 260px;
  margin: auto;
}

.line2 {
  grid-area: d;
  height: 50px;
  width: 75px;
  margin: auto;
}

.line3 {
  grid-area: f;
  height: 35px;
  width: 255px;
  margin: auto;
}

.line4 {
  grid-area: j;
  height: 50px;
  width: 75px;
  margin: auto;
}

.palette-name-input {
  grid-area: e;
}

.save-button {
  grid-area: g;
}

.hex-input {
  grid-area: i;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  grid-area: k;
}
.search-button {
  width: 48%; 
}

.clear-button {
  width: 48%; 
}

#project-name,
#project-list {
  box-shadow: none;
  font-size: 18px;
}