.Palette {
  border: 1px solid #c8c8c8;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  box-shadow: 3px 3px 7px #A9A9A9;
}

.Palette:hover {
  border: 1px solid #424A60;
  cursor: pointer;
}

.palette-name-wrapper {
  background-color: snow;
  height: 100%;
  padding: 0 0 0 5px;
  width: 45%;
}

.palette-name-wrapper > h3 {
  font-size: 18px;
}

.swatch-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 45%;
}

.swatches {
  height: 100%;
  width: 20%;
}

.trash {
  height: 30px;
  margin: auto;
  width: 30px;
}