.Palettes > h3 {
  background-color: #7383C0;
  height: 50px;
}

.Palettes {
  align-content: flex-end;
  flex-direction: row;
  border: 1px solid black;
  height: max-content;
  margin: 50px 10px 25px auto;
  width: 40%;
  border: 1px solid black;
}