.Palettes {
  align-content: flex-end;
  flex-direction: row;
  height: max-content;
  margin: 85px 20px 25px auto;
  width: 40%;
}

.Palettes > h3 {
  background-color: #7383C0;
  color: snow;
  font-size: 21px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0 0 0 5px;
}