.Display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: max-content;
  width: 50%;
}

.swatch {
  display: inline-block;
  height: 100px;
  width: 500px;
  margin: 0px auto;
}

.lock-image {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 27px 10px;
}

.hex-code {
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
  font-size: 36px;
  line-height: 100px;
  vertical-align: text-bottom;
}