.Display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: max-content;
  width: 25%;
}

.swatch {
  display: inline-block;
  height: 50px;
  width: 100px;
  margin: 10px auto;
}

.lock-image {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 15px 10px;
}

.hex-code {
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
  font-size: 28px;
  line-height: 59px;
  padding: 0 0 0 10px;
  vertical-align: bottom;
}